<body>
<header id="header">
	<div id="titleBox">
	<div id="title-contents" class="cf">
	<!-- 	<h1>
		<span class="site-title">週報システム</span> | 株式会社ミライタス
		{{ include('common/logout.html') }}
	</h1> -->
	    <h1>
			<span class="site-title">週報システム</span> | 株式会社ミライタス
		</h1>
		<div id="logout-contents" class="cf">{{ include('common/logout.html') }}</div>		
	</div>
	</div>
	<div id="header-contents" class="cf">
		<div id="logo">
			<a href="{{ base_url }}WeeklyReportList">
				<img alt="株式会社ミライタス" src="{{ base_url }}view/_images/logo.gif">
			</a>
		</div>
	</div>
</header>