a{
	text-decoration: none;
}
li{
	list-style: none;
}
img {
    height: auto;
    vertical-align: bottom;
    width: 100%;
}
#titleBox{
	background: #222222;
}
div,ul,li{
	box-sizing: border-box;
}

.spacer {
	height: 10px;
}

#front {
/* 	background: url(../_images/mv.jpg); */
	background: url(../_images/mv.jpg) left center;
	background-size: cover;
    min-height: 100%;
    height: 100%;
    background-attachment: fixed;
}

#log-logo{
	width: 220px;
	margin: 70px auto 20px;
}

#log-logo img{
	width: 220px;
}

#loginform {
/* 	width: 300px;
padding: 70px 0 0;
margin: auto; */
	width: 320px;
	margin: auto;
}

/* #loginform h1 {
	background: url(../_images/login_logo.gif);
} */

#loginform dt{
    margin-bottom: .5em;
	padding-left: .5em;
    border-left: solid 10px #444;
}

.login {
	background: rgba(255,255,255,0.7) none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
/* 	padding: 40px; */
	padding: 26px 24px 46px;
/* 	margin: 50px auto; */
    margin: 0 auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* btn */

#btn_login,
.btn_detail,
.btn_search{
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: .5em 1em;
	background: #0b84d2;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.btn_search{
	width: 100%;
}

#btn_login:hover,
.btn_detail:hover,
.btn_search:hover{
	background: #4BA8E4;
}

.btn_regist{
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: .5em 4em;
	background: #d21616;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.btn_return{
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: 1em 4em;
	background: #d21616;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.btn_regist:hover,
.btn_return:hover{
	background: #FF3333;
}

.btn-excel{
	display: block;
	margin: 0 auto;
	color: #fff;
	padding: 1em 4em;
	background: #098400;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.btn-excel:hover{
	background: #30B526;
}

/* #btn_login {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:5px;
	border:1px solid #337fed;
	padding:9px 18px;
	margin: 15px 55px 0px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}

.btn_detail {
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:20px;
	border:1px solid #dd5df4;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #eea1fc 5%, #d441ee 100% );
	background:-ms-linear-gradient( top, #eea1fc 5%, #d441ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eea1fc', endColorstr='#d441ee');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #eea1fc), color-stop(100%, #d441ee) );
	background-color:#eea1fc;
	color:#ffffff;
	display:inline-block;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f4cafc;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f4cafc;
 	box-shadow:inset 1px 1px 0px 0px #f4cafc;
}.btn_detail:hover {
	background:-moz-linear-gradient( center top, #d441ee 5%, #eea1fc 100% );
	background:-ms-linear-gradient( top, #d441ee 5%, #eea1fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d441ee', endColorstr='#eea1fc');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d441ee), color-stop(100%, #eea1fc) );
	background-color:#d441ee;
}.btn_detail:active {
	position:relative;
	top:1px;
} */

.login form .input,
.login input[type=text],
.login input[type=password] {
    font-size: 24px;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    margin: 2px 6px 16px 0;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 2px 0 rgba(19,152,207,1);
  outline: 0;
  border: solid 1px #fff;
}

#welcome {
/* 	position: absolute;
left: 400px; */
	float:left;
	margin-right: 20px;
}

#logout{
/* 	float: right; */
	float: left;
}

#logout-contents{
	float: right;
	padding: 6px 0;
}

#logout-contents p,
#logout-contents a{
	color: #fff;
}

/* #logout a{
	color: #fff;
} */

.err_msg {
/* 	color: #F00;
	font-weight: bold;
	font-size: 18px;
	 */	font-size: 90%;
	font-weight: bold;
	display: inline-block;
	color: #ea2727;
}

#titleBox{
	background: #222;
/*     height: 20px;
padding: 10px; */
}

#titleBox h1 {
	color: #fff;
	font-size: 14px;
    margin: 0 auto;
    font-weight: normal;
    padding: 6px 0;
}

/* .site-title{
	font-family: 'Hind', sans-serif;
}

.site-title-a{
	color: #fff;
} */

#logo {
/* 	height: 44px;
width: auto;
float: none;
margin: 8px auto;
text-align: center; */
	width: 220px;
    float: left;
    margin: 10px 0;
}

/* #logo img {
	height: 44px;
	width: auto;
} */

#main-content {
/* 	width: 100%;
display: inline-block; */
	background: #eee;
	padding: 50px 0;
	z-index: 0;
}

#main-wrapper {
/* 	width: 100%; */
	width: 1000px;
	margin: 0 auto;
}

#left-wrapper {
	width: 65%;
	margin-right: 5%;
/* 	width: 60%;
margin: 0 30 20; */
	height: auto;
	float: left;
/* 	padding: 0; */
	position: relative;
}

#left-wrapper h2 {
	position: absolute;
/* 	top: -40px; */
	top: 20px;
	left: -10px;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 40px;
	background: #222;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
	box-shadow: 1px 1px 1px #ccc;
}

#regist {
	border:1px solid #fff;
	box-sizing: border-box;
	position: absolute;
	right: 20;
	top: 20;
}

#right-wrapper {
/* 	margin: 0 30 20; */
	width: 30%;
	height: auto;
	float: right;
	padding: 0;
	position: relative;
}

.search-list {
/*     background: #cff; */
    background: #fff;
/*     width: 300px; */
    border-radius: 6px;
    box-shadow: 1px 1px 1px #ccc;
    text-align: center;
    padding: 0 0 20;
}

.search-list h3 {
    background: #B8B8B8;
    color: #222;
    font-weight: bold;
    padding: .5em 0;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
}

.search-list select {
    padding: 5px 10px;
    margin: 30px 0;
    border-width: 0 0 1px 0;
    width: 80%;
}

.search-list select:focus{
   box-shadow: 0 0 2px 0 rgba(19,152,207,1);
    outline: 0;
    border: solid 1px #fff;
}

#list-wrapper{
	width: 100%;
	background-color:#FFF;
	/* border-radius: 5px; */
	box-shadow: 1px 1px 1px #ccc;
	padding: 6em 2em 1em;
	height: auto;
	min-height: 600px;
}

.datepick-wrapper h3{
	margin-bottom: 20;
}

.datepick-wrapper p{
	display: inline-block;
	font-size: 80%;
	color: #fff;
	font-weight: normal;
	height: 27px;
	line-height: 27px;
	padding: 0 1em;
}

.start-date{
    position: relative;
	background: #0BA803;
}

.start-date:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 13.5px solid transparent;
    border-left-color: #0BA803;
    left: 100%;
    top: 0;
}

.datepick-wrapper input{
	text-align: center;
}

.end-date{
    position: relative;
	background: #0341A8;
}

.end-date:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 13.5px solid transparent;
    border-right-color: #0341A8;
    right: 100%;
    top: 0;
}

/* table */

/* .list {
	width: 100%;
	background-color:#DDDDFF;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #ccc;
} */

.list td {
/* 	padding:5px 5px; */
	text-align: center;

}

.list td a {
	color: #5D5B5B;
/* 	text-decoration: none;
font-size: 20px;
font-weight: bold;
 */}

.list td a:hover{
	color: #ccc;
}

#left-wrapper table thead td{
	background: #B8B8B8;
	font-weight: bold;
	color: #222;
	padding: 5px 0;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}

#left-wrapper table thead td:last-of-type{
	border: 0;
}

#left-wrapper table tbody td{
	border-bottom: dotted 1px #ccc;
	box-sizing: border-box;
    padding: 1em 0;
    font-weight: bold;
    font-size: 18px;
}

#left-wrapper table tbody .fa-calendar,
#left-wrapper table tbody .fa-user-circle-o{
	margin-right: 5px;
}

#left-wrapper table{
	width: 100%;
}

/* table-end */

#header {
	box-shadow: 0px 1px #ccc;
	z-index: 10000;
}

#header-contents {
	width: 1200px;
/* 	width: 100%;
height: 52px; */
    height: 80px;
	margin: 0 auto;
}

#copyright{
	background: #222222;
	color: #ffffff;
	font-size: 12px;
	padding: 2em 0 10em;
	text-align: center;
}

footer{
	bottom: 0px;
	text-align: center;
	font-size: 14px;
/* 	padding: 60px 0 0; */
}


.event-title{
	margin-bottom: 1em;
}

.event-title span{
	font-size: 160%;
}

.event-wrapper{
/* 	background: #82a4a3; */
    padding: 4em;
	background: #fff;
	box-shadow: 1px 1px 1px #ccc;
}

.event-list {
	width: 50%;
	margin:0 auto;
}

.event-content{
	background: #fff;
	padding: 1em 1em 2em;
	margin-bottom: 1em;
	border-bottom: dotted 1px #ccc;
/* 	padding: 1em;
margin-bottom: 2em; */
}

.event-list h4{
/* 	font-size: 110%; */
	display: inline-block;
    background: #666;
    color: #fff;
    margin-bottom: 1em;
    padding: .5em 1em;
    font-weight: normal;
/* 	padding-right: 1em;
    border-bottom:  solid 2px #1398cf;
    margin-bottom: 20px; */
}

.event-list h4 .fa{
	color: #1398cf;
}

/* #regist {
	border:1px solid #cccccc;
	position: absolute;
	right: 10;
	top: -40;
}

.btn_regist {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid #337fed;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.btn_regist:hover {
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
	background-color:#1e62d0;
}.btn_regist:active {
	position:relative;
	top:1px;
}

.btn_return {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid #d83526;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
	background-color:#fa665a;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #98231a;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fab3ad;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fab3ad;
 	box-shadow:inset 1px 1px 0px 0px #fab3ad;
}.btn_return:hover {
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
	background-color:#d34639;
}.btn_return:active {
	position:relative;
	top:1px;
} */

.req{
	position: relative;
	top: -1px;
	background: #c62121;
	color: #fff;
	font-size: 11px;
	padding: 2px 4px;
	margin-left: 1em;
	border-radius: 2px;
}

.input {
	background-color: #82a4a3;
	padding: 40px;
	margin: 50px auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.input dt{
	margin-bottom: 1em;
	padding-left: .5em;
	border-left: solid 10px #444;
}

.input dd{
	margin-bottom: 1em;
}

.input dd span{
	display: block;
	margin-top: 10px;
	font-size: 13px;
	color: #aaa;

}

/* .btn_search {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid #337fed;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.btn_search:hover {
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
	background-color:#1e62d0;
}.btn_search:active {
	position:relative;
	top:1px;
} */

.ui-datepicker-calendar tr td:first-child a {
	background-image: none;
	background-color: #FF0000;
	color: #FFFFFF;
}
.ui-datepicker-calendar tr td:last-child a {
	background-image: none;
	background-color: #0000FF;
	color: #FFFFFF;
}

/* clearfix */
.cf:after {
  content: "";
  clear: both;
  display: block;
}